.default-color0.chart-area-symbol { -fx-background-color: #fba71b, #fba71b55; }
.default-color1.chart-area-symbol { -fx-background-color: #f3622d, #f3622d55; }
.default-color2.chart-area-symbol { -fx-background-color: #dda0dd, #d8bfd855; }
 
.default-color0.chart-series-area-line { -fx-stroke: #fba71b; }
.default-color1.chart-series-area-line { -fx-stroke: #f3622d; }
.default-color2.chart-series-area-line { -fx-stroke: #dda0dd; }
 
.default-color0.chart-series-area-fill { -fx-fill: #fba71b33; }
.default-color1.chart-series-area-fill { -fx-fill: #f3622d33; }
.default-color2.chart-series-area-fill { -fx-fill: #d8bfd844; }


.chart-vertical-grid-lines {
    -fx-stroke: #787878;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #787878;
}

.axis-label {
  -fx-text-fill: #787878;
}

.axis {
    -fx-font-size: 1.4em;    
    -fx-tick-label-fill: #787878;
    -fx-font-family: Tahoma;      
}

.axis-tick-mark {
    -fx-stroke: #787878;
    
}
.axis-minor-tick-mark {
    -fx-stroke: #787878;
}